<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>To-do List: </h1>
        <ul class="todoItems">
        <div class="divider margin"></div>
        <% for(let i=0; i < items.length; i++) {%>
            <div class="flex-between">
                <li class="item margin hoverable" style="padding: 10px; width: 50%;">
                    <% if(items[i].completed === true) {%>
                        <span class='completed' style="word-wrap: break-word;"><%= items[i].thing %></span>
                    <% }else{ %>
                        <span style="word-wrap: break-word;"><%= items[i].thing %></span>
                    <% } %>
                </li>
                <div>
                    <button id="high" class="importance-btn | btn <%= items[i].importance == 'HIGH' ? 'orange' : 'grey' %>" style="margin-left: 10px;">High</button>    
                    <button id="med" class="importance-btn | btn <%= items[i].importance == 'MED' ? 'orange' : 'grey' %>" style="margin-left: 10px;">Med</button>    
                    <button id="low" class="importance-btn | btn <%= items[i].importance == 'LOW' ? 'orange' : 'grey' %>" style="margin-left: 10px;">Low</button> 
                    <button class="red delete waves-effect waves-light btn " style="margin-left: 20px;">
                        <span class='fa fa-trash' style="color: black;"></span>
                    </button>
                </div>   
            </div>
            
        <% } %>
        </ul>

        <form action="/addTodo" method="POST" style="padding-top: 100px;">
            <input type="text" placeholder="Thing To Do" name="todoItem">
            <div class="flex-between">
                <button class="to-do_btn | btn " type="submit">Add To-Do<i class="fas fa-solid fa-square-arrow-up-right right"></i></button>
                <h4 style="margin: 0; padding: 0;">Left to do: <%= left %></h4>
            </div>
        </form>   
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='js/main.js'></script>
</body>
</html>
